.contenedor-barra-puntos {
  background-color: #ceb381; /* fondo verde claro */
  padding: 10px;
  border-radius: 20px;
  margin: 20px 16px;
}

.barra-titulo {
  font-weight: bold;
  font-size: 1rem;
  color: #3a3a3a;
  margin-bottom: 6px;
  padding-left: 8px;
}

.barra-contenido {
  background-color: white;
  padding: 10px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barra-info {
  flex-grow: 1;
  margin-right: 12px;
}

.barra-fraccion {
  font-size: 0.9rem;
  color: #5f5432;
  margin-bottom: 4px;
  display: block;
}

.barra-total {
  opacity: 0.5;
}

.barra-progreso-wrapper {
  background-color: #d6d6d6; /* fondo gris */
  height: 14px;
  border-radius: 999px;
  overflow: hidden;
}

.barra-progreso .progress-bar {
  background-color: #7a6a3c; /* marrón */
  height: 14px;
  border-radius: 999px;
}

.barra-recompensa {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  color: #3a3a3a;
}

.barra-texto-recompensa {
  font-size: 0.9rem;
}
.barra-texto-recompensa {
  font-size: 0.75rem; /* antes estaba en 0.9rem, ahora más chico */
  line-height: 1rem;
  text-align: center;
}